@page "/cart"

@inject IDataCart dataCart

<h3>Товары в корзине:</h3>
@if (cartRows == null || cartRows.Count < 1)
{ 
<span>Корзина пуста</span>
}
else
{
<div>
  @foreach (var row in cartRows)
 {
<div class="row-conteinr">
    <div class="row-image-wrapper"><img class="row-image" src="@row.Img"/></div>
    <div class="row-name">
        <h5><a href="product/@row.ProductId">@row.ProductName</a></h5>
        <span>@row.OptionName</span>
    </div>
    <div class="row-price">
        @row.Price Руб.
    </div>
</div>
 }
 <div class="row-tottal-price">
Итого (@cartRows.Count шт.): @cartRows.Sum(row=>row.Price) Руб.;
 </div>
</div>
}


@code {
    private List<CartRow> cartRows = new List<CartRow>();
    
    protected override async Task OnInitializedAsync()
    {
        cartRows = await dataCart.GetAllCartRows();
    }
}
